/*mobile device*/
*{
padding: 0;
margin: 0;

}
header{
    display: flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.911) , rgba(2, 2, 2, 0.911)),url('/img/background.png');
      background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 50vh;
    
    
}
h1{
    padding: 2px 8px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 247);
    margin-top: 15px;
}
span{
    color: #FF9F0D;
}
nav ul{
    display: none;
}
.fa-bars{
  margin-top: 23px;
  margin-left: 260px;
  width: 400px;
  color: rgb(255, 255, 255);
}
.hero-section{
  position: absolute;
  margin-top: 70px;
  margin-left: 30px;
  
}
.hero-section p{
    color:  #FF9F0D;
    font-family: 'Great Vibes';
    font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 40px;

}
.hero-section h2{
    color: aliceblue;
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
}
.lorem p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* fffffff */

color: #FFFFFF;

}
button{
   width: 100px;
   height: 30px;
   margin-top: 10px;
   background: #FF9F0D;
   border-radius: 30px;
   border: none;
   color: #FFFFFF;
}
img{
    width: 300px;

}
@media only screen and (min-width: 1000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
   header{
   
    diplay:block;
    position: absolute;
    display:flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.911) , rgba(2, 2, 2, 0.911)), url('/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;

   } 
   nav{
    display: flex;
    justify-content: space-around;
    margin-left: px ;
   } 
   nav ul{
    display:flex;
    justify-content: space-between;
    
    
    
}
h1{
    padding: 2px 8px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 247);
    margin-top: 45px;
    
}
nav ul li{
    margin:2px 8px ;
    display: flex;
    margin-left: 32px;
    margin-top: 93px;

}
nav ul li a {
    color: #fdfdfd;
    text-decoration: none;
}
.fa-bars{
    display: none;
  }
  .hero-section{
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
    flex-direction: row;
    display: flex;
  }
  .hero-section p{

font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */


/* Primary color */

color: #FF9F0D;

  }
  .hero-section h2{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 68px;
/* or 113% */


/* Primary color */

color: #fdfdfd;
  }
  button{
    width: 190px;
height: 60px;

  }
  .lorem p{
    color: #fdfdfd;
  }
  img{
   
width: 700px;
height: 550px;
left: 500px;
  }

}
