/*mobile device*/
*{
padding: 0;
margin: 0;

}
body{
  background:#050505;
}
header{
    display: flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.911) , rgba(2, 2, 2, 0.911)),url('/img/background.png');
      background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;
    
    
}
h1{
    padding: 2px 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 247);
    margin-top: 15px;
}
span{
    color: #FF9F0D;
}
nav ul{
    display: none;
}
.fa-bars{
  margin-top: 23px;
  margin-left: 200px;
  width: 50px;
  height: 30px;
  color: rgb(255, 255, 255);
 
}
.hero-section{
  position: absolute;
  margin-top: 70px;
  margin-left: 70px;
  text-align: center;
  
}
.hero-section .container{
 max-width: 500px;
  text-align:center ;
}
.hero-section p{
    color:  #FF9F0D;
    font-family: 'Great Vibes';
    font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 40px;

}
.hero-section h2{
    color: aliceblue;
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
}
.lorem p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* fffffff */

color: #FFFFFF;

}
button{
   width: 100px;
   height: 30px;
   margin-top: 10px;
   background: #FF9F0D;
   border-radius: 30px;
   border: none;
   color: #FFFFFF;
}
img{
    width: 300px;
    

}
/*about-section*/
.about-us p{
  font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 40px;
color: #FF9F0D;
margin-top: 30px;
margin-left:40px ;
}
.about-section{
    color: #fdfdfd;
    margin-left: 20px;
   
}
.about-section h3{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 36px;
/* or 117% */

font-feature-settings: 'kern' off;
}
.about-section p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 17px;
/* or 150% */
/* fffffff */
color: #FFFFFF;
min-width: 400px;
}

.about-section li{
  list-style: none;
  margin:5px 10px;
  
}
.about-section li:before {
  content: '\2714\0020';
  margin-right: 5px;
}
.about-section button{
 margin-left: 5px;
 margin-bottom: 15px;
}
.images-2{
  width: 150px;
  height: 100px;
}
.about-section img {
  max-width: 300px;
  max-height: 200px;
  align-items: center;
  margin-left: 50px;

}
.food p{
  font-style: italic;
  font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 40px;
color: #FF9F0D;
margin-top: 20px;
text-align: center;
}
.category{
  justify-content: center;
  color: #fdfdfd;
  text-align: center;
  
}
.category img{
  width:180px ;
  height: 130px;
}
.category h4{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
}
.img-category{
  width: 70px;
  height: 50px;
  text-align: center;
}
.services-p{
  font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 17px;
line-height: 40px;
/* identical to box height, or 125% */


/* Primary color */

color: #FF9F0D;
text-align: center;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services{
  text-align: center;
}
.services h5{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
/* or 117% */

font-feature-settings: 'kern' off;

/* Primary color */

color:#fdfdfd;

}
.services p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* fffffff */

color: #FFFFFF;

}
.services-food{
  justify-content: center;
display: flex;
margin-bottom: 30px;
}
.services-food p{
  color: #fdfdfd;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  
}

.box-1 img{
  justify-content: center;
  width: 35px;
  height: 30px;
  padding: 25px 20px;
}
.box-2 img{
  text-align: center;
  width: 35px;
  padding: 25px 20px;
  height: 30px;
}
.box-3 img{
  justify-content: center;
  width: 35px;
  height: 30px;
  padding: 25px 20px;
}
.box-1{
  width: 72px;
height: 70px;
background-color: #FF9F0D;
margin-top: 15px;
border-radius: 3px;
color: #FF9F0D;
}
.box-2{

  width: 72px;
height: 70px;
background-color: #FF9F0D;
margin-top: 15px;
border-radius: 3px;
color: #FF9F0D;
margin-left: 40px;
}
.box-3{
  width: 72px;
height: 70px;
background-color: #FF9F0D;
margin-top: 15px;
border-radius: 3px;
color: #FF9F0D;
margin-left: 40px;
}
.taste-food{
 margin-top: 40px;
  text-align: center;
}
.taste-food img{
  width:180px ;
  height: 130px;

}
.expe img{
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.exp-add-ons{
  justify-content: center;
  display: flex;
  margin-top: 20px;

}
.exp-add-ons img{
width: 100%;
height: 40vh;
  
}
.chef{
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.chef img{
  position:absolute;
  width: 60px;
  height: 50px;
  flex: start;
  align-items:flex-start ;
}
h6{
  color: #FF9F0D;
  font-style: italic;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

.menu p{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  /* identical to box height, or 117% */
  
  font-feature-settings: 'kern' off;
  
  /* Primary color */

  color:#fdfdfd;
  text-align: center;
}
.menu-list{
  display: flex;
text-align: center;
margin-left: 50px;
}
.menu-list li p{
  
  color:#fdfdfd ;
  font-size: 14px;
}
.menu-list p{
  font-size: 13px;
  margin-left: 10px;
  text-align: center;
  
}
.break{
  color: #fdfdfd;
  background-color: #fdfdfd;
  width: 100%;
  height: 2px;
  position:absolute;
}
.menu-list-images{
  width: 400px;
  margin-left: 20px;
  margin-top: 35px;
 justify-content: center;
 align-items: center;
 text-align: justify;
 display: flex;
 flex-wrap: wrap;
  
}

 
.menu-list-images img{
  width: 50px;
  justify-content: center;
 align-items: center;
 text-align: justify;
  display: flex;
  margin-top: 23px;
  
}
.menu-list-images em{
   font-size: 13px;
   font-size: 13px;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fdfdfd;
  width: 30px;
  
}
.lettuce {
  max-width: 550px;
}
.chefs img{
  justify-content: center;
  text-align: center;
  display: flex;
 
}
.chefs .container{
  flex-wrap: wrap;
  display: flex;
  
  margin-left: 70px;
  text-align: center;
  width: 300px;
  justify-content: space-between;
  margin-top: 15px;
} 
.chefs img{
  display: flex;
  width: 140px;
  height: 180px;
  gap:1px;
  align-items: center;
  justify-content: space-between;[2][]
}
.chefs-header{
  margin-top: 20px;
  text-align: center;
}
.chefs-header p{
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chefs-header h3{
  color: #fdfdfd;
  font-size: 30px;
}
.chef-image-3{
  margin-right: px;
}
.button-3{
margin-top: 5px;
margin-left: 100px;
text-align: center;
border-color: #FF9F0D;
}
.button-3 button{
  background-color: transparent;
  border:1px solid #FF9F0D;
}
.testimonials-text{
 margin-left: 70px;
  
}
.testimonials-text h4{
  color: #FF9F0D;
  margin-top: 20px;
  font-style: italic ;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.testimonials-text p{
  color: #fdfdfd;
  font-size: 30px;
  font-weight: 800;
}
.testimonials .container{
   justify-content: center;
  
}
.card{
  width: 320px;
  height: 300px;
  background-color: #fdfdfd;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-top: 40px;
}
.testimonials img{
  text-align: center;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  
}
.card p{
  margin-top: 10;
  color: #000000;
  margin-bottom: 20px;
}
.document-process{
  background-image: url('/img/Restaurant-1.png');
  text-align: center;
  margin-top: 70px;
  background-position: cover;
  background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 30vh;
}
.document-process img{
  width: 100%;
  height: 30vh;
}
.play-vid h4{
  margin-top: px;
  font-size: 17px;
  color: #FF9F0D;
  font-style: italic;
}
.play-vid p{
  color: #fdfdfd;
margin-top: 17px;
font-size: 25px;
font-weight: 900;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.vid-play p{
  font-weight: 400;
  width: 400px;
  text-align: center;
margin-left: 40px;
font-size: 13px;
}
.readmore-button button{
  background-color: transparent;
  border:1px solid #FF9F0D;
  justify-content:space-evenly;
}
.blog{
  text-align: center;
  margin-top: 30px;

  
}
.card-blog{

  border:0.1px solid #fdfcfc;
  margin-top: 30px;
  height: 400px;
  max-width: 300px;
margin-left: 80px;
  margin-top: 30px;
  height: 350px;
  border-radius: 4px;
}
.card-blog h3{
  font-style: italic;
  color: #FF9F0D;
  font-size: 13px;
  margin:20px ;
  margin-right: 150px;
 
  
}
.card-blog p{
  margin-top: 10px;
  color: #fdfdfd;
  font-size: 16px;
  margin-right: 80px;
 
}
.card-blog img{
  width: 300px;
  height: 200px;
}
.blog-text{
  text-align: center;
}
.blog-text p{
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#FF9F0D;
}
.blog-text h5{
  margin-top: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#fdfdfd;
}
.subscribe{
 
  margin-top: 0px;
}
.subscribe h1{
  font-size: 25px;
  color: #fdfdfd;
  font-weight: 500;
}
.subscribe p{
  color: #fdfcfc;
  margin-left: 50px;
  font-size: 13px;
  margin-top: 10px;
}
.subscribe input{
  margin-top: 10px;
  margin-left: 50px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}
.subscribe button{
  height: 34px;
  border-radius: 5px;
  gap: 0;

}
.line{
  margin-top: 30px;
  max-width: 390px;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  height: 1px;
  color: #FF9F0D;
  background-color: #FF9F0D;
}
.footer{
  margin-top: 20px;
  justify-content: center;
  
}
.about-footer{
  text-align: center;

}
.about-footer p{
  color: #fdfcfc;
  font-size: 12px;
  max-width: 300px;
  margin-left: 70px;
  margin-top: 10px;
}
 .about-footer h3{
  color: #fdfcfc;
  font-size: 15px;

 }
 .box-footer .container{
  width:52px;
  height: 50px;
   background-color: #FF9F0D;
   margin-left: 30px;
   margin-top: 10px;
 }
 .box-footer p{
  width: 100px;
  margin-left: 70px;
  
 }
 .links{
  margin-left: 25px;
 }
  .links h2{
   margin-top: 30px;
   color: #fdfcfc; 
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
  
 }
 .links li{
  list-style: none;
  color: #fdfdfd;
  font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
 }
 .links li a{
  list-style: none;
  color: #fdfdfd;
  font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
   text-decoration: none;
   margin: 12px 5px 4px;
 }
 .help{
  display: block;
  margin-left: 10px;
  flex-wrap: wrap;
  margin-left: 30px;
 }
.help h4{
  color: #fdfcfc;
  margin-top: 15px;
  color: #fdfcfc; 
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
} 
 .help li{
  list-style: none;
  text-decoration: none;
  color: #fdfcfc;
}
.help li a{
  margin-top: 5px;
  color: #fdfcfc;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  margin: 5px 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.post{
  margin-left: 30px;
  color: #fdfcfc;
  margin-top: 30px;
  margin-bottom: 15px;

}
.post h5{
  margin-bottom: 20px;
}
.post-recent{
  display: flex;
  max-width: 300px;
}
.post-recent h5{
  font-size: 12px;
}
.post-recent p{
 
}
.post-recent img{
  max-width: 80px;
  max-height: 78px ;
}
.post-recent-2{
  display: flex;
  flex-wrap: wrap;

}
.post-recent-3 p{
  padding: 20px;
  color: #fdfcfc;
  font-size: 13px;
  margin-top: 10px;
  flex-grow: calc(-10px);
  margin-left: px;
}
.post-recent-3{
  display: flex;
}
.post-recent-3 img{
  max-width: 80px;
  max-height: 78px ;
}
.post-recent-2 img{
  max-width: 80px;
  max-height: 78px ;
}
.social-media{
  text-align: center;
  justify-content: center;
}
.social-media .container{
  color: #fdfcfc;
  background-color: #FF9F0D;
  max-width: 100%;
  height: 50px;
  justify-content: center;
  display: flex;
}
.social-media .container li {
  text-decoration: none;
  list-style:none;
  color: #fdfcfc;
  display: flex;
}
.social-media .container li a{
  display: flex;
  color: #fdfcfc;
}


.social-media p{
  font-size: 12px;
  flex: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}
@media only screen and (min-width: 1000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
   header{
   
    diplay:block;
    position: absolute;
    display:flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.911) , rgba(2, 2, 2, 0.911)), url('/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;

   } 
   nav{
    display: flex;
    justify-content: space-around;
    margin-left: px ;
   } 
   nav ul{
    display:flex;
    justify-content: space-between;
  
}
h1{
    padding: 2px 8px;
    font-size: 20px;
    font-weight: 600;
    font-family: '
    Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 247);
    margin-top: 45px;
    
}
nav ul li{
    margin:2px 8px ;
    display: flex;
    margin-left: 32px;
    margin-top: 93px;

}
nav ul li a {
    color: #fdfdfd;
    text-decoration: none;
}
.fa-bars{
    display: none;
  }
  .hero-section{
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
    flex-direction: row;
    display: flex;
  }
  .hero-section p{

font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */


/* Primary color */

color: #FF9F0D;

  }
  .hero-section h2{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 68px;
/* or 113% */


/* Primary color */

color: #fdfdfd;
  }
  button{
    width: 190px;
height: 60px;

  }
  .lorem p{
    color: #fdfdfd;
  }
  img{
   
width: 700px;
height: 550px;
left: 500px;
  }
  body{
    background:#131212;
  }


}
