

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: #080808;
}

/* .navbar {
 

    display: flex;
    justify-content: space-between;
    background: none ;
   position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 12%;
    border-bottom: var(--border);
    top: 0; left: 0;
    right: 0;
    color: #FFFFFF;
    background-color:none;
    
    z-index: 1000;
  }
  
  /* .navbar-links {
    list-style-type: none;
    display: flex;
    margin-right: auto;
    margin-top: 2.4rem;
  }
  
  .navbar-links li {
    margin-right: 10px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #FFFFFF;
  } */
  
  /* .navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FF9F0D;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  } */
   /* .navbar-brand h1{
    margin-bottom: 3rem;
   } */
   /* .input{
    margin-top: 2rem;
    margin-left: 2rem;
   } */
   /* #input-Field{ */
    /* padding: 1rem 6rem; */
    /* border: 1px solid #FF9F0D;
    border-radius: 27px;
  
    width: 300px;
    height: 40px; */
   /* } */
   /* .icons{
    padding: 0 2rem;
    margin-top: 2rem;
   }  */
  

   .header{
    display: flex;
    justify-content: space-between;
    background: none ;
   position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    border-bottom: var(--border);
    top: 0; left: 0;
    right: 0;
    background-color:none;
    border-bottom: .6px solid #ffff;
    z-index: 1000;
 
 }
 .header .logo{
    height: 6rem;
 
 }
 .logo h1{
   /* margin-top: 1rem;
 font-size: 3rem; */
 color: aliceblue;
 font-family: 'Helvetica';
 font-style: normal;
 font-weight: 700;
 font-size: 40px;
 line-height: 32px;
 margin-top: 1rem;
 }
 
 .header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: #ffffff;
    z-index:1000;
 }
 .header .navbar.active{
   background-color: #ffffff;
 }
 .header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: 1rem;
 }
 .header .icons div{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    z-index:1000;
 }
 .header.icons div:hover{
   color: var(--main-color);
 }
 #menu-btn{
    display: none;
 }
 .header .search-form{
    position: absolute;
    top: 100%;
    right:7%;
    background: #FFFFFF;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin:top ;
 }
 .header .search-form.active{
    margin-top: 0;
  transform: scaleY(1);
  transition: 0.5s;
 }
 .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
 }
 
 .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
 }
 .header .search-form label:hover{
    color: var(--main-color);
 }
 /*  */
 .header  .cart-items-container .btn{
    width: 100%;
    text-align: center;
 }
 /* end of nav */
 span{
    color: #FF9F0D;
 }
 /* cart */
 
 
 .cartbox{
    width: 360px;
    position: fixed;
    top: 0;
    right: -100%;
   z-index: 1000;
    height: auto;
    padding: 22px;
    background-color: #fffefe;
    /* border: 1px solid rgb(194, 194, 194);
    box-shadow: -2px 0 4px rgb(212, 210, 210); */
    transition: .3s;
 }
 .cartbox.active{
   right: 0;
 }
 
 .cart-boxItem{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
 }
 .cart-img{
    width: 100px;
    height: 90px;
    object-fit: contain ;
    padding: 10px;
 }
 .detail-box{
    display: grid;
    row-gap: .5rem;
 }
 .cart-product-title{
   font-size: 1rem;
   text-transform: uppercase ;
 }
 .cart-price{
  font-weight: 500;
 }
 .cart-quantity{
     border: 1px solid gray;
     outline: #979797;
     width: 2.4rem;
     height: 2rem;
     text-align: center;
     font-size: 1rem;
 }
 .cart-remove{
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: #cf0000;
    margin-right: 500px;
 }
 .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top:#757575 solid  ;
 }
 .total-title{
    font-size: 1rem;
    font-weight: 600;
 }
 .total-price{
    margin-left: 0.5rem;
 
 }
 .btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
 }
 .btn-buy :hover{
    opacity: .6;
    
   
 }
 #close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    font-weight: 700;
    color:#cf0000;
    cursor: pointer;
    padding: 10px;
    background-color:#ffffff;
 }
 /* home section */
   
  .home{
     background-image: linear-gradient(to right, rgba(15, 15, 15, 0.911) , rgba(2, 2, 2, 0.911)),url('images/background.png');
     background-position: center;
     display: flex;
     height: 100vh;
     
 }
 .home-wrapper{
  margin: 0 auto;
    /* padding: 4rem 8rem; */
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   row-gap: 20px;
 
 }



 
 /* .content{
    margin-top: 10rem;
 } */
 .body-1-image{
    /* margin-top: 10rem; */
    margin-top: 7rem;
   
 }
 .body-1-image img{
    /* padding: rem 2rem; */
    width: 100%;
    height: auto;
  
  }

/* end of home section */





 /* about section css */
 .about {
     justify-content: center;
     align-items: center;
     padding: 0;
     margin: 0;
 }
 .about .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

    
}

.about .row {
  margin-top: 20px;
}
.about-image{
   margin-top: 120px;
   width: 700px;
   padding-left: 50px;
}
.about .content l1:before {
  content: '\2714\0020';
  color: #fffdfd;
  margin: 0 15px;

  
}
.about .content l1 {
  font-size: 16px;
  line-height: 2;
  color: #fffdfd;
  margin-right: 15px;

  
}
 /* about section css end */

.about-text{

  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  
}





 /* cjoose */
 .service-container{
  display: grid;
  align-items: center;
  /* margin-top: 120px; */
  grid-template-columns: repeat(2, 1fr);
  grid-gap:2rem;
  justify-content: center;
 }
 /* end of choose */





 /* category */

 .category-image img{
    padding: 10px;
 }
 .banner{
    background-image: linear-gradient(to right, rgba(29, 28, 28, 0.911) , rgba(39, 39, 39, 0.911)),url('images/fish-image.png');
    background-repeat: no-repeat;  
    
 }
 .group{
    margin-left: 4rem;
 }
 .group h3, p
 {
    color: #FFFFFF;
    font-size: 1.3rem;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
 }

 .box{
   display: flex;
   align-items: flex-start;
 
   
 }
.box-mid{

}
 .box .box-1{
  align-items: flex-start;
width: 102px;
height: 100px;
  background-color: #FF9F0D;
  margin: 20px;
  margin-bottom:3rem;
 }
 
 .box .box-1 h2{
  margin-top: 2rem;
 }
 /* end of category */



 
 /* services section-2 */
 .service-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 73%;
padding: 20px;
  justify-content: center;
 }
 .image-services{
  padding-right: 30px;
  width: 100%;

 }
 /* end of section 2 */




 /* banner  */
.banner .content{
  padding: 70px;
  width: 100%;
}
.banner .content .group{
  justify-content: space-between;
  display: inline-block;
  
}
.banner .content .group img{
   padding:0 50px;
 
 
}

 /* end of banner */





 /* menu */

 .menu{
    margin:  auto 0;
    
 }
 .menu{
    margin: 2rem 0;
  }
  .menu-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .menu-head{
    text-align: center;
  }
  .menu-head h2{
    
    font-family: var(--Kaushan);
    font-size: 20px;
  }
  .menu-head p{
    font-weight: 300;
    padding: 1.8rem 0;
  }
  .menu-btns{
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }
  .menu-btn{
    font-family: var(--Inter);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    background: none;
    border: none;
    color: #ffffff;
    display: block;
    margin: 0 1rem;
    cursor: pointer;
    outline: 0;
    transition: opacity 0.4s ease-out;
  }
  .menu-btn::after{
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #ff9505;
    margin-top: 0.5rem;
    width: 0;
    transition: width 0.4s ease-out;
  }
  .menu-btn:hover::after{
    width: 100%;
  }
  .menu-btn:hover{
    opacity: 0.8;
  }
  .active-btn{
    color:  #ff9505;
  }
  .food-items{
    margin: 0.5rem 0;
    height: 400px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
  }
  
  .food-item{
    border-radius: 4px;
    height: 150px;
    overflow: hidden;
    color:#fdfdfd;
    margin: 0.6rem 0;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
    animation: fadeIn 2s;
  }
  @keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
  .food-img img{
    border-radius: 4px;
      width: 80px;
      height: 78px;
      position: absolute;
      margin: 20px;
  }
  .food-content{
    padding-left: 200px;
  }
  .food-name{
    font-family: var(--Inter);
    color:#fdfdfd;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  
  .menu-image-ai{
    position: absolute;
    margin-left: 0;
    float: left;
  }

  /* chefs */
  .chefs{
    background-image: url('images/chef-background.png');
    background-repeat: no-repeat;
     background-position: left;
     z-index: 1;
  }
  .card-chef {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cardChef-item {
    width: 300px;
    height: 350px;
    margin: 10px;
    
    border-radius: 5px;
    /* /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;
    text-align: center;   */
  } 
  .cardChef-item img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
  }
  .cardChef-item .content{
    justify-content: center;
    position: absolute;
    z-index: 2;
    margin-top: 0px;
    
  }
  .chef-btn{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  /* .container{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.underline{
    margin: 10px auto;
   width: 100px;
   height: 3px;
   background-color: rgb(72, 197, 247);
   margin-bottom: 4rem;
}
.review{
    margin: 10px auto;
  width: 700px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px ;
}
.image-container{
    width: 100%;
    height: auto;
   
}

#personimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}
#author{
    font-size: 16px;
   color: rgb(0, 0, 0);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 3px ;
}
#job{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(36, 205, 211);
    padding: 5px ;
}
#info{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 100%;
    margin: 10px auto;
    color: rgb(156, 154, 154);
    padding-top: 5px ;
}
.icon-btn{
   
    color: rgb(36, 205, 211);
    margin: 0;
    cursor: pointer;
   
}
.fa-quote-left{
  padding: 0px;
} */
.banner2{
  background-image: url('images/Restaurant-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.banner-container{
  text-align: right;
  padding: 30px;
 
}
.banner-container .content{
 
}
/* .fa-chevron-left{
    padding-right: 30px;
} */




.featured{
  text-align: center;
  margin: 50px;
  margin-top: 3rem;
 }
 .featured h1{
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 46px;
 }
 .featured p{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 36px;
    margin-top: 20px;
 }
  .featured-row{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column: 20px;
justify-content: space-between;
   
 }
 
 .card{
    position: relative; 
    text-align: left;
    
    width: 424px;
    height: 569px;
    cursor: pointer;
    color: #fdfdfd;
    outline: #f8f4f4;
    border: 1px solid #ffff;
    background-color: #000000;
    border-radius: 10px;
   margin: 0 20px;
    }
    
 .card-info{
  padding: 32px 42px;
  
 }
 .card-info .info{

  margin-top: 1rem;
  justify-content: space-between;
 }


 .featured .featured-row  img{
  justify-content: center;
  align-items: center;
  display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
 
 }
.blog-heading{
  margin-top: 4rem;
}
.card-header{
  font-family: 'Great Vibes';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #FF9F0D;
}




/* newletter */
#newsLetter{
  padding: 4rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 120px;
  height: 25vh;
}
#newsLetter .newstext{

  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
#newsLetter h4{
 font-size: 2.7rem;
 color: #ffffff;
 font-weight: 500;
 line-height: 46px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
#newsLetter p{
  font-size: 20px;
  color: #b9b9b9;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#newsLetter .form{
  margin: px;
  display: flex;
  width: 40%;


}
#newsLetter .form input{
  height: 4em;
  padding: 0 1em;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid transparent;
 width: 100%;
 outline: none;
 background-color: #FF9F0D;
 color:#ffffff;
  
}
#newsLetter .form button{
  background-color: rgb(255, 255, 255);
  color:#FF9F0D;
  width: 250px;
  height: 4.21em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  cursor: pointer;

   
 }

 .emailBreak{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5rem 0rem ;
  width: 100%;
  border: 1px solid #FF9F0D;
   
 }
/* newsletter end */


/* footer section */

.footer{
  padding: 2rem 10%;
   /* margin-top: 7rem ; */
   overflow: auto;

  
}
.footer .footer-header{
  
   margin-bottom: 1rem;
   color: #ffffff;
   font-size: 1.7rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer .footer-cols {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap:2rem;
   column-gap: 2rem;
   justify-content: center;

  
   
}
.footer .footer-cols li{
list-style: none;
line-height: 1.9;

}
.footer .footer-cols ul li a{
list-style: none;

text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
color: #757575;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.footer-btn {
   margin-top: 4rem;
}

.footer-btn p{
   margin-top: 2rem;
   font-size: 13px;
   margin-left: 11rem;
   margin-bottom: 2rem;
}
.brand-footer{
   margin-top: 1.6rem;
   font-size: 3rem;
   font-family:'Times New Roman', Times, serif;
   font-weight: 700;
   color: #979797;
}
.footer .apps{
   margin-top: 0;
   color: #b4b4b4;
}
.list-footer-container{
 
   display: flex;
  
}
.footer-info{
  padding: 0 10px;
}
.footer-card{
  display: flex;
  margin-top: 1rem;
  
}
.footer-card-info{
  padding: 0 10px;
  
}

/* copy right */
.copy-right{
  background-color: #FF9F0D;
 background-image: url('images/footer-image.png');
 background-repeat: no-repeat;
 background-position: right;
 z-index: 1q;

}

.copyright-container {
display: flex;
justify-content: center;
flex: 2;
 column-gap: 1rem;
   padding: 20px;
}
.copyright-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 1rem ;
}
.copy-right-img {

}
.copy-right img{
  width: 100px;
  height: 89px;
position: relative;
margin-top: 0;
float: right;
z-index: 1;
 
}
.copyright-containerimg img{
  /* position: absolute;
  float: right; */
  
   
  }
/* end of copy right */
  /* end of chefs */
  @keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
  .food-img img{
    border-radius: 4px;
      width: 80px;
      height: 78px;
      position: absolute;
      padding-left: 10px;
      margin: auto 0;
      /* margin: 20px; */
  }
  .food-content{
    padding-left: 100px;
  }
  .food-name{
    font-family: var(--Inter);
    color:#fdfdfd;
    font-weight: 500;
    text-transform: capitalize;
  }

  
 /* end of menu */
 /* category */
 @media(max-width:600px){
  html{
      font-size: 55%;
    
   } 

 .header{
  padding: 1.5rem 2rem;
  margin-top: 10px;  
 }
} 

/* footer section end */
@media screen and (max-width: 960px){

  #menu-btn{
     display: inline-block;
  }
 
  .header{
     margin-top: 0; 
   
  }
 
  .header .navbar{
     position: absolute;
     top: 88%;
     right: -100%; 
     background: #ffffff;
     width: 20rem;
     height: 30rem;
     border-radius: 5px;

  
  }
 
  .header .navbar.active{
     right: 0;
     transition: 0.4s;
  }
 
  .header .navbar a{
     color: rgb(0, 0, 0);
     display: block;
     margin: 1.5rem;
     padding: .5rem;
     font-size:2rem ;
  }
 
  .header .search-form{
     width: 80%;
     right: 2rem;
  }
  .header .search-form{
     width: 80%;
     right: 2rem;
  }
 
 .icons{
  display: inline-block;
  color: #fffdfd;
  
 }
 .logo h1{
  
font-size: 30px;

}

.cartbox{
  width: 300px;

}
 
   .logo h1{
    margin-top: 30px;
  font-size: 20px;
  
  }

  /* home section */
  .home{
    height: 70vh;
  }
  .body-1-image{
    width: 100%;
    padding: 1rem 2rem;
 }
 .body-1-image img{
   
    width: 407.8px;
    height: 307px;
  
  }
  .body-1-image{
    /* margin-top: 10rem; */
    margin-top: 0px;
  
   
 }
 .body-1-image img{
    /* padding: rem 2rem; */
  display: none;
    width: 100%;
    height: auto;
  
  }
  .home-wrapper{
    margin-top: 4rem;
    /* margin-bottom: 3rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1 1 10rem;
    gap: 1rem; */
    justify-content: center;
    align-items: center;
   /* padding: 1rem;  */
  
 }
.home-wrapper .content .home-heading{
  font-size: 30px;
}
.home-wrapper .content .home-heading-2{
  font-size: 36px;
  line-height: 40px;
}
 /* home end */




 /* about */
 .about .row{
flex-direction: column;
margin: 20px;
} 
.about-image{
  margin-top: 10px;
  width: 100%;
  padding-left: 10px;
}
.about-image img{
  width: 400px;
}
.about-text{
   line-height: 30px;
   
   width: 100%;
}
/* end of about */



 .service-container{
  display: grid;
  align-items: center;
  /* margin-top: 120px; */
  grid-template-columns: repeat(1, 1fr);
  grid-gap:2rem;
  justify-content: center;
 }
 

}
@media (max-width: 960px) {
.food-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.header-italic{
    font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #FF9F0D;

}
.paddings{
    padding: 22px 0;
}
.header-titles{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 30px;
font-feature-settings: 'kern' off;
color: #ffffff;
}
.featured-row{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column: 20px;
  justify-content: space-between;
     
   }
   .card{
 
   margin: 10px 20px;
    }
    
 .card-info{
  padding: 32px 42px;
  
 }
 .card-info .info{

  margin-top: 1rem;
  justify-content: space-between;
 }


 .featured .featured-row  img{
  justify-content: center;
  align-items: center;
  display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
 
 }
   
}













/* oft element */
.fa-circle-play{
  color: #ff9505;
font-size: 4rem;
margin: 0 auto;
}
.header-titles{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 68px;
color: #FFFFFF;

}
.header-titles2{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 68px;
color: #FFFFFF;

}
.home-heading{
  font-family: 'Great Vibes';
font-style: italic;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FF9F0D;
}
.food-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}
.foodbtn{
  width: 190px;
height: 60px;
color: #ffffff;
border: none;
border-radius: 27px;
background-color: #FF9F0D;
cursor: pointer;

}
.flexCenter{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.paddings-section{
  padding: 120px 0;
}
.paddings{
  padding:32px 0;
}
.gridCenter{
  display: flex;
  align-items: center;
  /* margin-top: 120px; */
  grid-template-columns: repeat(2, 1fr);
  grid-gap:2rem;
  justify-content: center;
}
.flexColStart{
  text-align: left;
  justify-content: center;
  align-items:flex-start;
}
.gridWidth{
  display: flex;
 flex-direction: row;
 margin-top: 0;
flex-grow: 2;
flex-wrap: wrap;

}
/* end of element */